@font-face {
    font-family: 'main font';
    src: url(./fonts/SpaceGrotesk-VariableFont_wght.ttf) format('truetype');
    font-weight: 400 500 600;
}
:root{
    --input-error-color:hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet:hsl(270, 3%, 87%);
    --dark-grayish-violet:hsl(279, 6%, 55%);
    --font-size:18px;
}
*,
*::after,
*::before{
    box-sizing: border-box;
    transition: all 0.7s ease;
}
input::-webkit-inner-spin-button{
    display: none;
}
::selection{
    background-color:#6030d9
}
/*================start styling=====================*/
/*================left section styling==================*/
body{
    font-family: 'main font';
}
main{
    display: flex;
}
.left{
    background: url(./images/bg-main-desktop.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    width: 483px;
    background-size: cover;
}
.right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card-front,.card-back{
    width:447px;
    height:245px;
    box-shadow: 0px 0px 20px 0px #6030d9;
    border-radius: 10px;
}
.card-front{
    background: url(./images/bg-card-front.png);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}
.card-logo{
    flex: 1;
}
.card-number{
    text-align: center;
    color: var(--light-grayish-violet);
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 500;
}
.card-infos{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    color: var(--light-grayish-violet);
}
.card-back{
    background: url(./images/bg-card-back.png);
    display: flex;
    align-items: center;
    justify-content: end;
}
.card-cvc{
    transform: translateX(-3rem);
    font-size: 15px;
    color: var(--light-grayish-violet);
    letter-spacing: 1px;
}
/*===============right section styling==============*/
/*form width 395px*/
form{
    display: flex;
    flex-direction: column;
    width: 395px;
    gap: 2rem;
}
.name,.number{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input{
    height: 48px;
    border: 1px solid var(--light-grayish-violet);
    outline: 0;
    border-radius: 5px;
    padding-left: 1rem;
    font-family: 'main font';
    font-size: 18px;
    color:hsl(278, 68%, 11%) ;
    font-weight: 500;
}
input:focus{
    border: 1px solid #220930;
}
::placeholder{
    color: #abaaac;
    font-weight: 500;
    opacity: 0.5;
}
label{
    color: hsl(278, 68%, 11%);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 2px;
}
.inline,.date-inputs{
    display: flex;
}
.date-inputs{
    gap: 0.5rem;
}
.inline{
    gap: 1rem;
}
.date,.cvc{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.cvc{
    width: calc(395px - (170px + 1.5rem));
}
.date input{
    width: 85px;
}
.confirm{
    height: 48px;
    background-color: #220930;
    color: var(--white);
    font-family: 'main font';
    border: 0;
    font-size: var(--font-size);
    border-radius: 5px;
    cursor: pointer;
}
.confirm:hover{
    background-color: #6030d9;
}
.error,
.error-name,
.error-number{
    color: var(--input-error-color);
    font-style: italic;
    font-size: 13px;
    font-weight: 600;
}
.cards{
    transform: translateX(9rem);
}
.card-back{
    transform: translateX(6.5rem);
}
.form-container{
        transform:translateX(4.5rem);
        background-color: white;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 4px 9px 17px 0px #6030d9;
}
.inline input{
    resize: none;
}
/*================form media queries==============*/
@media screen and (max-width:1224px) {
    .cards,
    .card-back,
    .form-container{
        transform: translateX(0);
    }
}
@media screen and (max-width:910px) {
    
    main{
        flex-direction: column;
        gap: 2rem;
    }
    .left{
        width: 100%;
        align-items:start;
        padding-top: 6rem;
    }
    .card-front{
        transform: translateX(8.5rem);
    }
    .card-back{
        transform: translateX(-8.5rem);
    }
    .form-container{
        transform: translateY(-18rem);
    }  
}
@media screen and (max-width:425px) {
    .form-container{
        padding: 1rem;
        transform: translateY(-4rem);
        background-color: white;
        width: 100%;
    }
    form{
        width: 100%;
    }
    .cards{
        width: 100%;
    }
    .card-front,
    .card-back{
        transform: translateX(0);
        width: 282px;
    align-self: center;
    height: 150px;
    background-size: cover;
    }
    .card-front{
        transform: translate(-3rem,5rem);
        z-index: 2;
        padding: 1rem;
        gap: 1rem;
    height: auto;
    }
    .card-back{
        transform: translateY(-13.3rem);
    }
    .left{
        background: url(./images/bg-main-mobile.png);
        height: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
    fieldset,.inline input{
        width: 100%;
    }
    .card-number{
        font-size: 1.4rem;
    }
    main{
        gap: 0;
    }
}
@media screen and (max-width:375px) {
    .card-front{
        transform: translate(-1rem,5rem);
    }
}
/*==============complete section=============*/
.confirmation{
    width: 395px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform: translateX(4.5rem);
    gap: 2rem;
    padding: 2rem;
    box-shadow: 4px 9px 17px 0px #6030d9;
}
.confirmation img{
    width: 80px;
    align-self: center;
}
.confirmation h2{
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.confirmation p{
    color: var(--dark-grayish-violet);
}
@media screen and (max-width:910px) {
    .confirmation{
        transform: translate(0);
        padding: 2rem;
    }
}
.form-container{
    display: none;
}